<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>React SPA Demo</title>
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}
</style>
</head>

<body>
<div class="container">
</div>
</html>

